.dependents-container {
    padding: 20px;
}

.form-container {
    margin-bottom: 20px;
}

.form-field {
    margin-left: 20px;
    margin-right: 10px;
    width: 300px;
}

.form-button {
    margin-left: 10px;
}

.table-container {
    width: 750px;
}

.table-head {
    background-color: #f4f4f4;
}

.action-button {
    margin-right: 10px !important;
}

.loading-container {
  text-align: center;
  margin-top: 16px;
}
