.form-container {
  margin-bottom: 16px;
}

.form-row {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.form-control {
  margin-bottom: 16px;
}

.loading-container {
  text-align: center;
  margin-top: 16px;
}

.table-head {
  background-color: #f4f4f4;
}


